<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/neil">Neil</a></li>
      <li><a href="/trupti">Trupti</a></li>
      <li><a href="/ivy">Ivy</a></li>
      <li><a href="/conner">Conner</a></li>
    </ul>
  </div>
</nav>
