<h1>ISIT-422 Team Page</h1>

<br/>
<div class="row">
    A simple ToDos project with simple HTML pages of each team member. <br/>
    The project is build on Node Express Server and the client displays rendered HTML files.
</div>